In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.3.3)
Requirement already satisfied: packaging>=20.0 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [2]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pandas>=1.2 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\neha\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Create data as dictionary
data = {
    "Order_ID": [101, 102, 103, 104, 105],
    "Date": ["2024-01-05", "2024-01-08", "2024-01-10", "2024-01-15", "2024-02-02"],
    "Product": ["Laptop", "Phone", "Shoes", "Watch", "Laptop"],
    "Category": ["Electronics", "Electronics", "Fashion", "Accessories", "Electronics"],
    "Quantity": [2, 3, None , 2, 1],
    "Price": [55000, 35000, None , 4000, 60000],
    "Region": ["North", "South", "East", "West", "North"],
    "Salesperson": ["Ayesha", "Bilal", "Ali", "Sana", "Ayesha"],
    "Payment_Mode": ["Credit Card", "Cash", "Credit Card", "UPI", "Credit Card"]
}

# Convert dictionary → DataFrame
df = pd.DataFrame(data)

print(df)

   Order_ID        Date Product     Category  Quantity    Price Region  \
0       101  2024-01-05  Laptop  Electronics       2.0  55000.0  North
1       102  2024-01-08   Phone  Electronics       3.0  35000.0  South
2       103  2024-01-10   Shoes      Fashion       NaN      NaN   East
3       104  2024-01-15   Watch  Accessories       2.0   4000.0   West
4       105  2024-02-02  Laptop  Electronics       1.0  60000.0  North

  Salesperson Payment_Mode
0      Ayesha  Credit Card
1       Bilal         Cash
2         Ali  Credit Card
3        Sana          UPI
4      Ayesha  Credit Card

In [5]:
print(df.head(3))

   Order_ID        Date Product     Category  Quantity    Price Region  \
0       101  2024-01-05  Laptop  Electronics       2.0  55000.0  North
1       102  2024-01-08   Phone  Electronics       3.0  35000.0  South
2       103  2024-01-10   Shoes      Fashion       NaN      NaN   East

  Salesperson Payment_Mode
0      Ayesha  Credit Card
1       Bilal         Cash
2         Ali  Credit Card

In [6]:
df.info() #shows columns, data types, and non-null counts.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      5 non-null      int64
 1   Date          5 non-null      object
 2   Product       5 non-null      object
 3   Category      5 non-null      object
 4   Quantity      4 non-null      float64
 5   Price         4 non-null      float64
 6   Region        5 non-null      object
 7   Salesperson   5 non-null      object
 8   Payment_Mode  5 non-null      object
dtypes: float64(2), int64(1), object(6)
memory usage: 492.0+ bytes

In [7]:
df.describe() #gives statistical summary (mean, min, max, etc.)

         Order_ID  Quantity         Price
count    5.000000  4.000000      4.000000
mean   103.000000  2.000000  38500.000000
std      1.581139  0.816497  25409.971796
min    101.000000  1.000000   4000.000000
25%    102.000000  1.750000  27250.000000
50%    103.000000  2.000000  45000.000000
75%    104.000000  2.250000  56250.000000
max    105.000000  3.000000  60000.000000

In [8]:
df.isnull().sum() #helps detect missing data.

Order_ID        0
Date            0
Product         0
Category        0
Quantity        1
Price           1
Region          0
Salesperson     0
Payment_Mode    0
dtype: int64

In [9]:
df["Total_Sales"] = df["Quantity"] * df["Price"]
#creates a new column called Total_Sales in DataFrame

In [10]:
df["Total_Sales"]

0    110000.0
1    105000.0
2         NaN
3      8000.0
4     60000.0
Name: Total_Sales, dtype: float64

In [11]:
df

,Order_ID,Date,Product,Category,Quantity,Price,Region,Salesperson,Payment_Mode,Total_Sales
0,101,2024-01-05,Laptop,Electronics,2.0,55000.0,North,Ayesha,Credit Card,110000.0
1,102,2024-01-08,Phone,Electronics,3.0,35000.0,South,Bilal,Cash,105000.0
2,103,2024-01-10,Shoes,Fashion,NaN,NaN,East,Ali,Credit Card,NaN
3,104,2024-01-15,Watch,Accessories,2.0,4000.0,West,Sana,UPI,8000.0
4,105,2024-02-02,Laptop,Electronics,1.0,60000.0,North,Ayesha,Credit Card,60000.0

In [12]:
#Useful to compare performance of different product types.
category_sales = df.groupby("Category")["Total_Sales"].sum()  #category-wise sale
print(category_sales)

Category
Accessories      8000.0
Electronics    275000.0
Fashion             0.0
Name: Total_Sales, dtype: float64

In [13]:
Region_sales = df.groupby("Region")["Total_Sales"].sum()   #Region-wise sale
print(Region_sales)

Region
East          0.0
North    170000.0
South    105000.0
West       8000.0
Name: Total_Sales, dtype: float64

In [14]:
sales_man = df.groupby("Salesperson")["Total_Sales"].sum()
print(sales_man)

Salesperson
Ali            0.0
Ayesha    170000.0
Bilal     105000.0
Sana        8000.0
Name: Total_Sales, dtype: float64

In [ ]:
category_sales.plot(kind="bar", color="yellow")  #.plot() function is pandas’ built-in shortcut for creating charts using matplotlib behind the scenes.
#It works directly on Series or DataFrames.
plt.title("Category-wise Total Sales")    #---charts kind = line , barh , hist , pie , box , area , scatter , kde
plt.xlabel("Category")
plt.ylabel("Sales (PKR)")
plt.show()

In [ ]:
#autopct='%1.1f%%' --This controls how the percentage values appear on the chart.
#figsize=(6,6)--sets the size of the figure (width, height) in inches.

colors = ['skyblue', 'lightgreen', 'lightcoral', 'gold', 'pink']

Region_sales.plot(
    kind="pie",
    autopct='%1.1f%%',
    figsize=(6,6),
    colors=colors   # color list
)
plt.title("Region-wise Sales Distribution")
plt.show()

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns             # For advanced, stylish visualizations
#Seaborn is a Python library used for creating beautiful, informative, and easy-to-read visualizations with just a few lines of code.

In [ ]:
sns.barplot(x="Salesperson", y="Total_Sales", data=df, palette="viridis") #x=column ; y=numeric value ,data=df → tells Seaborn which DataFrame to use (df)
plt.title("Salesperson-wise Performance") #"viridis" , "cool" ,
plt.show()

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])
df["Month"] = df["Date"].dt.month_name()

month_sales = df.groupby("Month")["Total_Sales"].sum()
month_sales.plot(kind="bar", color="orange")
plt.title("Month-wise Sales Trend")
plt.ylabel("Total Sales")
plt.show()

In [ ]:
df.to_csv("sales_data.csv", index=False)